html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #222;
    background-color: #fdfdfd;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    padding-left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-logo {
    font-size: 35px;
    font-weight: 700;
    color: #01996D;
    font-family: lato, sans-serif;
}

.nav-left {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: #292929;
    font-family: lato, sans-serif;
    font-size: 22px;
    transition: 0.3s ease;

}

.nav-left a:hover,
.nav-right a:not(.start-btn):hover {
    color: #01996D;
}

.start-btn:hover {
    background-color: #017d5a;
}


.nav-right {
    display: flex;
    align-items: center;
    padding-right: 100px;
    gap: 10px;
}

.start-btn {
    background-color: #01996D;
    color: #FFFFFF !important;
    padding: 10px 35px;
    border-radius: 4px;
    font-weight: 500;
}

.hero-section {
    height: 100vh;
    background-image: url("img/bg.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 120px;
}

body {
    padding-top: 80px;
}

.hero-content {
    margin-top: -120px;
}

.hero-content h1 {
    font-size: 70px;
    font-family: Georgia, serif;
    line-height: 1;
    color: #01996D;
}

.hero-content p {
    font-size: 20px;
    margin-top: 15px;
    color: #444;
    line-height: 1.5;
    font-family: lato, sans-serif;

}

.hero-btn {
    display: inline-block;
    margin-top: 25px;
    background-color: #01996D;
    color: #fff;
    padding: 20px 50px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: lato, sans-serif;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background-color: #017c58;
}

.how-section {
    padding: 100px 120px;
}

.how-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.how-sub {
    color: #424242;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5x;
}

.how-title {
    font-size: 48px;
    font-family: Georgia, serif;
    line-height: 1.3;
    color: #01996D;
    font-weight: 700;
    margin-top: -20px;
}

.how-right {
    width: 550px;
    font-size: 18px;
    font-family: lato, sans-serif;
    color: #555;
    line-height: 1.7;
}

.how-steps {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
}

.step {
    width: 30%;
}


.step-header {
    font-family: Georgia, serif;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    width: fit-content;
}

.step-number {
    font-size: 130px;
    font-weight: 400;
    color: #cceee8;
    opacity: 0.60;
    line-height: 1;
    margin: 0;
    position: relative; 
    z-index: 0;
}

.step-title {
    position: absolute;
    top: 85px;     
    left: 65px;    
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin: 0;
    z-index: 1;    /* อยู่ด้านบนเลข */
    white-space: nowrap;
}

.step-text {
    margin: 10px 0 20px;
    line-height: 1.5;
    font-family: lato, sans-serif;
}

.step-img {
    width: 100%;
    max-width: 320px;
    display: block;
    border-radius: 8px;
}

.how-steps .step:nth-child(1) {
    margin-top: 0px;
}

.how-steps .step:nth-child(2) {
    margin-top: 210px;
}

.how-steps .step:nth-child(3) {
    margin-top: 100px;
}

/* Success Section */
.success-section {
    background-color: #245852;
    padding: 200px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 0;
}

/* LEFT SIDE */
.success-left {
    width: 45%;
}

.success-title {
    font-size: 48px;
    font-family: Georgia, serif;
    line-height: 1.3;
    margin-bottom: 25px;
}

.success-text {
    font-family: lato, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 35px;
}

.success-btn {
    display: inline-block;
    background-color: #01996D;
    padding: 15px 40px;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.success-btn:hover {
    background-color: #017c58;
}

/* RIGHT SIDE (Video Box) */
.success-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.success-video {
    position: relative;
}

.success-img {
    width: 500px;
    height: auto;
    border-radius: 14px;
    display: block;
}

/* Play Button */
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.75);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 28px;
    color: #01996D;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: 0.3s;
}

.play-btn:hover {
    background: rgba(255, 255, 255, 0.9);
}

/* ----- PRODUCT SECTION ----- */
.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 180px 120px;
}

/* LEFT SIDE */
.product-left {
    position: relative;
    margin-left: -50px;
}

.product-img-bg {
    width: 720px;
    height: 580px;
    background-color: #D6EFE7;
    border-radius: 10px;
    overflow: hidden;
}

.product-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD */
.product-card {
    position: absolute;
    bottom: -80px;
    height: 250px;
    left: -20px;
    width: 250px;
    background: #fff;
    padding: 30px 25px 45px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-family: lato, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    color: #444;
}

.card-title:after {
    content: "";
    display: block;
    width: 50%;
    height: 0.83px;
    background-color: #000000;
    margin: 8px auto 15px;
}

/* User section */
.card-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-img-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /*ตัดเนื้อหาที่ล้นออกไป จะไม่มีส่วนเกินใดๆ แสดงให้เห็น*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1.6); 
    object-position: center 0%; 
}

.user-name {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #222;
}

.card-sub {
    margin-top: 10px;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 17px;
    color: #222;
}

.card-list {
    margin-top: 12px;
    padding-left: -20px;         
    list-style-position: outside; 
    line-height: 1.8;
}

.card-list li {
    text-align: left;
    margin-left: 18px;       
    color: #444;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

/* ----- RIGHT SIDE ----- */
.product-right {
    width: 50%;
    padding-left: 80px;
    margin-top: -210px;
}

.product-subtitle {
    font-family: lato, sans-serif;
    color: #555;
    margin-bottom: 10px;
}

.product-title {
    font-size: 44px;
    font-family: Georgia, serif;
    line-height: 1.2;
    color: #01996D;
    margin-top: 20px;
}

.product-desc {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    font-family: lato, sans-serif;
    margin-bottom: 30px;
}

.product-btn {
    padding: 15px 45px;
}

/* ----- FOOTER ----- */
.footer-section {
    background-color: #245852;
    padding: 35px 30px;
    color: white;
    font-family: lato, sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-logo {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 100px;    
    margin-bottom: 40px;
}

.footer-logo2 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    font-family: lato, sans-serif;
    margin: 15px 15px 0 0;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin-top: -50px;
    line-height: 2.5;
}

.footer-menu li {
    margin: 20px 0;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: lato, sans-serif;
    transition: 0.3s ease;
}

.footer-menu a:hover {
    color: #00c99d;
}